body{
    background-color: #000000;
    font-family: "Transcript Pro Mono";
    margin: 0 auto;
}

a:focus, button:focus {
    outline: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    border-bottom: 1px solid #1F1F1F;
    position: relative;
}

.main-header__active {
    background-color: #F3F3F3;
}

.main-header_logo {
    margin-left: 5%;
    background-image: url(../imgaes/logo-white.svg);
    background-repeat: no-repeat;
    min-width: 271px;
    height: 23px;
}

.main-header_logo__active {
    background-image: url(../imgaes/logo-black.svg);
}

.main-header_navigation {
    flex-direction: column;
    position: absolute;
    background-color: #F3F3F3;
    top: 72px;
    width: 100%;
    display: none;
    z-index: 5;
}

.main-header_navigation__active {
    display: flex;
    z-index: 6;
}

.navigation-left {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-bottom: 136px;
}

.navigation-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    margin-bottom: 20px;
}

.navigation_item {
    cursor: pointer;
    font-size: 32px;
    line-height: 200%;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}

.navigation_item__active {
    color: black;
    text-shadow: none;
}

.navigation_lang {
    font-size: 24px;
    line-height: 24px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigation_lang-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    background-image: url(../imgaes/icons/arrow-down.png);
}

/* Burger menu */
.main-header_menu {
    cursor: pointer;
    padding-left: 1.25em;
    position: relative;
    width: 31px;
    height: 31px;
    margin-right: 5%;
  }
.menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 2px solid white;
    width: 100%;
    transition: 0.55s;
  }
.menu-top {
    top: 0;
  }
.menu-middle {
    top: 13px;
  }
.menu-bottom {
    top: 26px;
  }
.menu-top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.5s;
    border-color: black;
  }
.menu-middle-click {
    opacity: 0;
    border-color: black;
  }
.menu-bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.5s;
    border-color: black;
}

/* Main first section */
.welcome-section_text {
    font-size: 32px;
    line-height: 48px;
    padding: 27px;
    font-weight: bold;
    margin: 0;
    /* text-shadow: 
		-0   -1px 0   white,
		 0   -1px 0   white,
		-0    1px 0   white,
		 0    1px 0   white,
		-1px -0   0   white,
		 1px -0   0   white,
		-1px  0   0   white,
		 1px  0   0   white,
		-1px -1px 0   white,
		 1px -1px 0   white,
		-1px  1px 0   white,
		 1px  1px 0   white,
		-1px -1px 0   white,
		 1px -1px 0   white,
		-1px  1px 0   white,
         1px  1px 0   white; */
     -webkit-text-stroke: white 1px;
}

.welcome-section_inner-text-container {
    display: none;
}

/* Gamer section */
.gamer-section {
    position: relative;
}
.gamer-section_header-container {
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    background-color: #0A0A0A;
    cursor: pointer;
}

.gamer-section_header-container__active {
    background-color: white;
}

.gamer-section_header-container__active .gamer-section_header {
    color: black;
}

.gamer-section_header-container__active .gamer-section_collapse{
    background-image: url(../imgaes/icons/arrow-up_black.svg);
}

.gamer-section_header-container-collapse {
    position: absolute;
    background-color: #1F1F1F;
    z-index: 1;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    transition: top 0.2s;
}

.gamer-section_header-container-collapse__active {
    top: 109px;
    background-color: white;
    transition: top 0.2s;
}

.gamer-section_header {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: white;
    margin-left: 26px;
}

.gamer-section_header-collapse {
    color: #0D0D0D;
}

.gamer-section_collapse {
    background-image: url(../imgaes/icons/arrow-down_white.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    margin-right: 26px;
}

.bns-team {
    display: none;
}

.gamer {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 24px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.gamer:hover {
    background-color: #161616;
}

.gamer__active .gamer_nickname {
    color: #FE4B00;
}

.gamer_photo {
    margin-right: 15px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.gamer__active .gamer_photo-container::after {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 2px solid #FE4B00;
    position: absolute;
    top: 13px;
}

.gamer_name {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.gamer_nickname {
    font-size: 24px;
    line-height: 24px;
    color: white;
    padding-bottom: 4px;
}

.gamer_real-name {
    font-size: 14px;
    line-height: 14px;
    color: #C0C0C0;
}

.gamer_position {
    font-size: 24px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.1);
}

.gamer-tag {
    display: none;
}

.player_achiev {
    margin-top: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player_achiev-name {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0;
}

.player_description {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0;
}

/* About section */
.about-section {
    padding-left: 26px;
    padding-right: 24px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section_text {
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Contacts */
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contacts-mail {
    margin-bottom: 10px;
    font-size: 56px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

/* History */
.history {
    margin: 50px;
}
.history_text {
    font-size: 56px;
    line-height: 150%;
    -webkit-text-stroke: white 1px;
}

.history_text__white {
    color: white;
}

/* Footer */
.socials {
    display: flex;
    margin-bottom: 40px;
    margin-left: 25px;
}

.socials-link {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.socials-link_fb {
    background-image: url(../imgaes/icons/facebook.svg);
}

.socials-link_tw {
    background-image: url(../imgaes/icons/twt.svg);
}

.socials-link_ig {
    background-image: url(../imgaes/icons/inst.svg);
}

.socials-link_yt {
    background-image: url(../imgaes/icons/youtube.svg);
}

.socials-link_rt {
    background-image: url(../imgaes/icons/reddit.svg);
}

.socials-link_vk {
    background-image: url(../imgaes/icons/vk.svg);
    background-size: 202%;
}

.privacy {
    padding-left: 27px;
    padding-right: 27px;
}

.privacy__desktop {
    display: none;
}

.privacy_age {
    display: flex;
    align-items: center;
}

.privacy_age-count {
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.3);
    padding-right: 20px;
    font-weight: bold;
}

.privacy_age-text {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.3);
}

.privacy-text {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.3);
}

.privacy-color_red {
    color: rgb(255, 66, 31)
}

span.privacy-color_red {
    text-transform: uppercase;
}

/* Player block */

.player {
    background-size: 450px 500px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}

.player-1 {
    background-image: url(../imgaes/players-main/image-iksou.png);
}

.player-2 {
    background-image: url(../imgaes/players-main/image-water.jpg);
}

.player-3 {
    background-image: url(../imgaes/players-main/image-talker.jpg);
}

.player-4 {
    background-image: url(../imgaes/players-main/image-airscape.jpg);
}

.player-5 {
    background-image: url(../imgaes/players-main/image-balbina.jpg);
}

.player-6 {
    background-image: url(../imgaes/players-main/image-vitosh.png);
}

.player-7 {
    background-image: url(../imgaes/players-main/Shichisu.png);
}

.player-8 {
    background-image: url(../imgaes/players-main/Killing-god.png);
}

.player-9 {
    background-image: url(../imgaes/players-main/Akeafar.png);
}

.player_play {
    width: 28px;
    height: 28px;
    background-image: url(../imgaes/icons/play-button.svg);
    background-color: transparent;
    border: none;
    display: block;
}

.player_information {
    align-self: flex-start;
    margin-left: 40px;
}

.player_nickname {
    color: white;
    font-size: 48px;
    line-height: 140%;
    margin: 0;
}

.player_name {
    font-size: 24px;
    line-height: 140%;
    color: #FE4B00;
    margin: 0;
}

.player_country {
    font-size: 14px;
    line-height: 120%;
    color: #C0C0C0;
    margin: 0;
}

.player_age {
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.3);
}

.player_trainer {
    font-size: 18px;
    line-height: 150%;
    text-transform: lowercase;
    color: #FFFFFF;
    text-align: left;
}

.player_scores-table {
    margin-top: 560px;
}

.scores-table_count {
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
    width: 90px;
}

.scores-table_description {
    display: block;
    font-size: 12px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.5);
}

/* Media */

@media only screen and (min-width: 600px) {
    .player_information {
        align-self: auto;
        margin-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .main-header {
        margin-right: 26%;
        z-index: 0;
        height: calc( (100vw - 992px)/(3840 - 992) * (155 - 50) + 50px);
    }
    .main-header_menu {
        display: none;
    }

    .main-header_logo {
        background-image: url(../imgaes/logo-mini.svg);
        min-width: 25px;
        height: 25px;
        margin-left: 3.5%;
    }

    .main-header__active {
        background-color: black;
    }

    .main-header_logo__active {
        background-image: url(../imgaes/logo-mini.svg);
    }

    .main-header_navigation {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        margin-left: 3.5%;
        border-left: 1px solid #1F1F1F;
        height: calc( (100vw - 992px)/(3840 - 992) * (155 - 50) + 50px);;
    }

    .navigation-left {
        display: block;
        margin: 0;
        padding-left: 4%;
        width: 100%;
    }

    .navigation-right {
        padding-left: 0;
        padding-right: 0;
        margin-right: 30px;
        margin-bottom: 0;
    }

    .navigation_item {
        display: inline;
        text-shadow: none;
        margin-right: 5%;
        font-size: calc( (100vw - 992px)/(3840 - 992) * (56 - 18) + 18px);
        line-height: 18px;
        color: rgba(255, 255, 255, 0.7);
    }

    .navigation_item__active {
        color: white;
    }

    .navigation_lang {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (56 - 18) + 18px);
        line-height: 120%;
        color: #FFFFFF;
    }

    .navigation_item:nth-child(1) {
        width: 92px;
    }

    .main-content {
        display: flex;
        flex-grow: 1;
    }

    .welcome-section {
        width: 45%;
        box-sizing: border-box;
        padding-right: 3%;
    }

    .welcome-section_text {
        padding-left: 0;
        padding-right: 0;
        font-size: calc( (100vw - 992px)/(3840 - 992) * (142 - 36) + 36px);
        line-height: 150%;
        letter-spacing: 0.05em;
    }

    .gamer {
        padding-left: 7%;
        padding-top: calc( (100vw - 992px)/(3840 - 992) * (37 - 10) + 10px);;
        padding-bottom: calc( (100vw - 992px)/(3840 - 992) * (37 - 10) + 10px);
    }

    .gamer-section {
        order: 3;
        margin-top: calc( (((100vw - 992px)/(3840 - 992) * (155 - 51) + 51px) * -1));
        width: 27%;
        background-color: #0A0A0A;
        border-left: 1px solid #1F1F1F;
        margin-bottom: -40px;
        box-sizing: border-box;
    }

    .gamer_photo {
        width: auto;
        height: calc( (100vw - 992px)/(3840 - 992) * (145 - 45) + 45px);
    }

    .gamer__active .gamer_photo-container::after {
        height: calc( (100vw - 992px)/(3840 - 992) * (145 - 45) + 45px);
        width: calc( (100vw - 992px)/(3840 - 992) * (145 - 45) + 45px);
        top: calc( (100vw - 992px)/(3840 - 992) * (29 - 8) + 8px);
        border-width: calc( (100vw - 992px)/(3840 - 992) * (8 - 2) + 2px);
    }
    .gamer-section_header-container {
        padding-bottom: 0;
        padding-top: 0;
        height: calc( (100vw - 992px)/(3840 - 992) * (154 - 50) + 50px);
        padding-left: 10%;
    }

    .gamer-section_header {
        margin: 0;
        font-size: calc( (100vw - 992px)/(3840 - 992) * (56 - 24) + 24px);
    }

    .gamer-section_collapse {
        margin: 0;
        padding-right: 10%;
    }

    .gamer-section_header-container-collapse__active {
        top: calc( (100vw - 992px)/(3840 - 992) * (154 - 50) + 50px);
    }

    .gamer__trainer {
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .gamer__trainer::after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: #151515;
        position: absolute;
        bottom: -6px;
        left: 0;
    }

    .gamer_nickname {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (72 - 20) + 20px);
        line-height: calc( (100vw - 992px)/(3840 - 992) * (72 - 20) + 20px);
    }

    .gamer_real-name {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (48 - 12) + 12px);
        line-height: calc( (100vw - 992px)/(3840 - 992) * (48 - 12) + 12px);
    }

    .gamer_position {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (72 - 24) + 24px);
        line-height: calc( (100vw - 992px)/(3840 - 992) * (48 - 12) + 12px);
    }

    .gamer-tag {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 20px;
    } 

    .player_information {
        width: calc( (100vw - 992px)/(3840 - 992) * (630 - 308) + 308px);
    }

    .player_scores-table{
        width: calc( (100vw - 992px)/(3840 - 992) * (630 - 308) + 308px);
    }

    .player_nickname {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (68 - 48) + 48px);
    }
    
    .player_name {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (44 - 24) + 24px);
    }
    
    .player_country {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (34 - 14) + 14px);
    }
    
    .player_age {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (34 - 14) + 14px);
    }
    
    .player_trainer {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (38 - 18) + 18px);
    }
    
    .scores-table_count {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (44 - 24) + 24px);
    }
    
    .scores-table_description {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (32 - 12) + 12px);
    }

    .player_achiev {
        margin-top: 50px;
        width: calc( (100vw - 992px)/(3840 - 992) * (630 - 308) + 308px);
    } 

    .player_achiev-name {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (44 - 24) + 24px);
    }

    .player_description {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (32 - 18) + 18px);
    }

    .contacts {
        width: 68%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
        padding-right: 3%;
    }

    .contacts-mail {
        padding-top: 30px;
    }

    .contacts-img {
        padding: 30px;
    }

    .history {
        width: 68%;
        position: relative;
        overflow-y: hidden;
        margin: 0;
        margin-bottom: 41px;
    }

    .history_text {
        height: 100%;
        overflow-y: hidden;
        font-size: calc( (100vw - 992px)/(3840 - 992) * (142 - 36) + 36px);
        
    }

    .history_gradient-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0) 78%, rgba(0,0,0,0.37298669467787116) 97%);
    }

    .main-footer {
        flex-grow: 0;
    }

    .socials {
        margin-left: 2%;
        margin-bottom: 20px;
    }

    .about-section {
        padding-left: 30px;
        padding-right: 30px;
        width: 23%;
        align-items: unset;
        margin-bottom: 0;
        box-sizing: border-box;
    }

    .about-section_text {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (40 - 10) + 10px);
        padding-bottom: 0;
    }

    .about-section_image {
        width: 100%;
    }

    .privacy {
        display: none;
    }

    .privacy__desktop {
        display: flex;
        flex-direction: column;
        width: 7%;
        align-items: center;
    }

    .privacy_age {
        writing-mode: tb-rl;
        padding-top: 37px;
    }

    .privacy_age-count {
        padding-right: 0;
        display: none;
    }

    .privacy_age-text {
        font-size: calc( (100vw - 992px)/(3840 - 992) * (30 - 10) + 10px);
        margin: 0;
    }

    .privacy-text {
        margin: 0;
        writing-mode: tb-rl;
        margin-top: 23%;
        font-size: calc( (100vw - 992px)/(3840 - 992) * (30 - 10) + 10px);
        padding-bottom: 20px;
    }

    .player {
        background-size: 70%;
        width: 68%;
        background-position: left;
        align-items: flex-end;
        margin-top: 0;
    }

    .player_information {
        margin-top: 36px;
    }

    .player_scores-table {
        margin-top: 20px;
    }

    .scores-table_count {
        text-align: left;
        width: 17%;
    
    }
}


@media only screen and (min-width: 1152px) {
    .main-header_logo {
        background-image: url(../imgaes/logo-white.svg);
        min-width: 174px;
        width: calc( (100vw - 1152px)/(3840 - 1152) * (596 - 174) + 174px);
        height: calc( (100vw - 1152px)/(3840 - 1152) * (50 - 15) + 15px);
        margin-left: 3.5%;
    }

    .privacy_age {
        padding-top: 27px;
    }

    .privacy_age-count {
        display: block;
        font-size: calc( (100vw - 992px)/(3840 - 992) * (96 - 30) + 30px);
    }

    .privacy_age-text {
        padding-top: 5px;
    }
}

@media only screen and (min-width: 1366px) {
}

@media only screen and (min-width: 1536px) {
    .player {
        background-size: contain;
    }
}

@media only screen and (min-width: 1920px) {
    .gamer-tag {
        display: block;
        bottom: 32.7px;
        left: 7%;
        width: 87%;
    }

    .player {
        background-position: 20% center;
    }
}

@media only screen and (min-width: 2560px) {
    .navigation-right {
        margin-right: 6%;
    }
    .gamer-tag {
        display: none;
    }

    .about-section {
        display: none !important;
    }

    .welcome-section {
        width: 68%;
    }

    .welcome-section_text {
        color: white;
        -webkit-text-stroke: unset;
        line-height: 130%;
        font-weight: normal;
        background-image: url(../imgaes/ourway-white.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding-top: calc( (100vw - 2560px)/(3840 - 2560) * (212 - 112) + 112px);
    }

    .welcome-section_inner-text-container {
        display: flex;
        flex-direction: column;
    }

    .welcome-section_inner-text {
        color: white;
        font-size: calc( (100vw - 2560px)/(3840 - 2560) * (64 - 48) + 48px);
        font-weight: normal;
        margin: 0;
    }
}

@media only screen and (min-width: 3840px) {
    .welcome-section_inner-text-container {
        display: flex;
        flex-direction: row;
        margin-top: 150px;
    }

    .welcome-section_inner-text:nth-of-type(2) {
        margin-left: 215px;
    }
}